<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711824148044-7g0u1hcv1jd5tvd48aued7l0gn3vvo0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711824148044-7g0u1hcv1jd5tvd48aued7l0gn3vvo0q</string>
	<key>API_KEY</key>
	<string>AIzaSyALXYB30-w1_9mU6E95xnLnXZZYmrvS2KQ</string>
	<key>GCM_SENDER_ID</key>
	<string>711824148044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hibah.hibahcode22</string>
	<key>PROJECT_ID</key>
	<string>pictoproject-11ee6</string>
	<key>STORAGE_BUCKET</key>
	<string>pictoproject-11ee6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711824148044:ios:f64333f14135a69d3f16e9</string>
</dict>
</plist>